body {
  background-color: #f0f0f0de;
  font-family: Sora; 
}
.title{
  font-weight:550;
}
.heading{
  font-weight: 900;
}
.para_heading{
  color:hwb(240 25% 18%);
  font-weight: 600;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 20px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  min-height: 200px;
  

}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}


.navbar {
  margin-left: 15px;
  margin-right: 5px;
}

.nav-link {
  color: black;
  font-weight: 600;
}

.navbar-brand {
  color: hwb(240 25% 18%);
  font-size: 30px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand {
  margin-top: 13px;
}


.btn-primary {
  background-color: hwb(240 25% 18%);
}

.btn-outline-primary {
  border: hwb(240 25% 18%) solid 2px;
  color: hwb(240 25% 18%);
}

.lead{
  color:rgb(148, 149, 155);
  font-weight: 520;
}

.navbar_center_align{
   margin-right: 35px;
}







.seventh_section_testimonial {
  border: 2px solid #fff;

  padding: 3em;
  border-radius: 5px;
  margin: 16px 0
}

.seventh_section_testimonial p {
  background-color: #f0f0f0de;
}

.seventh_section_testimonial::after {
  content: "";
  clear: both;
  display: table;
}

.seventh_section_testimonial img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.seventh_section_testimonial span {
  font-size: 20px;
  margin-right: 15px;
}

.seventh_section_image img {
  padding-left: 3em;
}

@media (max-width: 500px) {
  .seventh_section_testimonial {
    text-align: center;
  }

  .seventh_section_testimonial img {
    margin: auto;
    float: none;
    display: block;
  }
}
/* eight section */

.eight_section{
  border-radius: 25px;
}

.eighth_section_form {
  margin-top: 3em;
  border: 35px;
  width: 30%;
}

.footer {
  width: 100%;
  background: #f0f0f0de;
  display: block;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: hwb(240 25% 18%);
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: grey;
}

.footer-items h1 {
  color: hwb(240 25% 18%);

}

.border1 {
  height: 3px;
  width: 40px;
  background: hwb(240 25% 18%);
  color: hwb(240 25% 18%);
  background-color: hwb(240 25% 18%);
  border: 0px;
}

ul {
  list-style: none;
  color: grey;
  font-size: 15px;
  letter-spacing: 0.5px;
}

ul a {
  text-decoration: none;
  outline: none;
  color: grey;
  transition: 0.3s;
}

ul a:hover {
  color: hwb(240 25% 18%);
}

ul li {
  margin: 10px 0;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: grey;
  text-align: center;
  font-size: 20px;
}


.social-media a {
  height: 25px;
  float: left;
  width: 25px;
  padding-right: 5px;

  color: grey;
  transition: 0.5s;
}

.social-media i:hover {
  transform: scale(1.5);
}

.footer-bottom {
  padding: 10px;
  background: #f0f0f0de;
  color: grey;
  font-size: 12px;
  text-align: center;
}


/* for tablet mode view */

@media screen and (max-width: 1275px) {
  .footer-items {
    width: 50%;
  }
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
  .footer-items {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .navbar-brand {
    font-size: 40px;
    font-weight: 600;
  }
  


  .sec_heading {
    font-size: 35px;
  }

  .first_section_image img {
    margin-left: 3em;
    height: 50%;
  }

  .sec_para{
    font-size: 17spx;
  }

}




@media (max-width: 1024px) {
  .navbar-brand {
    font-size: 30px;
    font-weight: 600;
  }

  .navbar-brand img {
    height: 30px;
    width: 30px;
  }

  .sec_heading {
    font-size: 35px;
  }

  .first_section_image img {
    margin-right: 3em;
    height: 50%;
  }

  .sec_para {
    font-size: 17px;
  }

}
.btn-boundary{

  border: 3px solid hwb(240 25% 18%);
  
  
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 25px;
    font-weight: 600;
    color: hwb(240 25% 18%);
  }

  .navbar-brand img {
    height: 25px;
    width: 25px;
  }
  .sec_heading{
    font-size: 37px;

  }

  .first_section_image img {
    padding-top: 0px;
    float: none;
    margin-left: 10em;
    height: 60%;
  }

  .sec_para {
    font-size: 18px;
  }
  .second_section_text{
    margin-top:-14em;
  }
  .second_section_text p,
.third_section_text p {

  padding: 25px;

}
.third_section button {
  width: 200px;
  height: 2.2em;

}
.third_section_icon{
  visibility: hidden;
}
/* fourth_section */
.fourth_section{
  margin-top: -3em;
}
.fourth_section_image img{
  margin-top: 2em;
  margin-left: 10em;
  height: 60%;
  }
.fourth_section_text{
  padding-left: 3em;
  margin-top: -10em;
}

/*fifth section*/
.fifth_section_text{
  margin-top: 3em;
}
.fifth_section_image img{
  height: 60%;
  margin-left: 10em;
  margin-top: 8em;
}
/*sixth section*/
.sixth_section_text{
  margin-top: -8em;
  padding-left: 3em;
}
.sixth_section_image img{
  height: 60%;
  padding-left: -3em;
  margin-left: 10em;
}
/*seventh section*/
.seventh_section_text{
  margin-top:4em ;
}
.seventh_section_image img{
  padding-left: -3em;
  height: 60%;
  margin-left: 10em;
}
/*eight section*/
.eighth_section {
  height: 750px;
  margin-top: -4em;
  margin-left: 3em;
  margin-right: 3em;
}
.eighth_section_text {
  padding-left: 3em;
}
.eighth_section_form {
  margin-top: -2em;
  margin-left: 7em;
  width: 60%;
}

}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 20px;
    font-weight: 600;
    color: hwb(240 25% 18%);
  }

  .navbar-brand img {
    height: 20px;
    width: 20px;
  }

  .sec_heading{
    font-size: 27px;
  }

  .first_section_image img {
    margin-left: 3em;
    height: 50%;
  }
  .first_section_text {
    padding: 2em;
  }

  .sec_para {
    font-size: 17px;
  }
  .third_section button {
    width: 280px;
    height: 2.2em;
    padding: 5px;
  
  }
  .third_section_icon{
    visibility: hidden;
  }
  /*fourth section */
  .fourth_section{
    margin-top: -3em;
  }
  .fourth_section_image img{
    margin-top: 2em;
    margin-left: 3em;
    height: 50%;
    }
  .fourth_section_text{
    padding-left: 3em;
  }
  /*fifth section */
  .fifth_section_text{
    margin-top: 3em;
  }
  .fifth_section_image img{
    height: 50%;
    margin-left: 3em;
  }
  /*sixth section*/
  /* .sixth_section_text{
    margin-top: -8em;
    padding-left: 3em;
  } */
  .sixth_section_image img{
    height: 50%;
    margin-left: 3em;
  }
/*seventh section*/
.seventh_section_text{
  margin-top:4em ;
}
.seventh_section_image img{
  padding-left: -3em;
  height: 50%;
  margin-left: 3em;
}
/*eighth section*/
.eighth_section {

  margin-top: -6em;
  margin-left: 1em;
  margin-right: 1em;
}
.eighth_section_text {
  padding-left: 2em;
}
.eighth_section_form {
  margin-top: -2em;
  margin-left: 0.5em;
  width: 95.5%;
}

}
